body {
    margin: 0px;
    
}

.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    align-items: center;
}

.logo {
    position: absolute;
    width: 65px;
    top: 17px;  
    bottom: 0px;
    left: 64px;
}

.titulo {
    margin-left: 72px;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 102vh;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 0;
    font-size: 3vh;
}

.hover_cadastro {
    color: white;
    text-decoration: none;
}

a:hover.hover_cadastro {
    color: rgb(108, 214, 108);
}

.hover_login {
    color: white;
    text-decoration: none;
}
    
a:hover.hover_login {
    color: rgb(108, 214, 108);
}

/*Começo do banner*/

.banner {
    margin: 0vh;
    height: 66vh;
    background-image: url("fundohome.jpg");
    background-size: cover;
    overflow-y: auto;
    align-items: center;
}

.mensagem {
    margin: 30vh 0vh 0vh 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7vh;
    color: white;
    align-items: center;
}

.banner2 {
    margin: 0vh;
    height: 72vh;
    background-color: white;
    background-size: cover;
    align-items: center;
}

.container2 {
    width: 50%;
    margin: 0.5vh 0vh 0vh 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    color: black;
}

.div_icon {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

}

.figure {
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    width: 190px;
    display: flex;
    height: 190px;
    justify-content: center;
    align-self: center; 
}

.li_f{
    list-style-type: none;
    text-align: center;
    border-bottom: 5px solid rgb(108, 214, 108);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh; 
}

.eficiencia {
    height: 24vh;
    align-self: center; 
    
  
}

.conforto {
    height: 24vh;
    align-self: center; 
     
    
}

.lucro {
    height: 24vh;
    align-self: center; 
    
}



.navbar_icon {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 950px;
    list-style: none;
}

figure{
    height: 280px;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner3 {
    margin: 0vh;
    background-color: rgb(230, 230, 230);
    height: 80vh;
}

.container3 {
    width: 50%;
    margin: 0vh 0vh 0vh 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.milharal {
    position: absolute;
    height: 50vh;
    margin: 20vh 0vh 0vh 8vh;
    border-radius: 40vh;
}

.titulo3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    color: black;
}

.texto3 {
    position: relative;
    margin-top: 11vh;
    left: 101vh;
    width: 95vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.futher {
    margin: 0vh;
    background-color: rgb(0, 0, 0);
    height: 80vh;
}

.logo_futher {
    position: absolute;
    width: 65px;
    top: 17px;  
    bottom: 0px;
    left: 64px;
}

.titulo_futher {
    margin-left: 72px;
    color: #ffffff;
}




