body {
    margin: 0px;
    
}

.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    align-items: center;
}

.logo {
    position: absolute;
    width: 683px;
    top: -145px;
    bottom: 0px;
    left: -203px;
}

.titulo {
    margin-left: 72px;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 102vh;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 0;
    font-size: 3vh;
}

.hover_cadastro {
    color: white;
    text-decoration: none;
}

a:hover.hover_cadastro {
    color: red;
}

.hover_login {
    color: white;
    text-decoration: none;
}
    
a:hover.hover_login {
    color: red;
}

/*Começo do banner*/

.banner {
    margin: 0vh;
    height: 70vh;
    padding: 0;
    background-image: url("silvias14.jpg");
    background-size: cover;
    background-position: 0px;
    overflow-y: auto;
    align-items: center;
}

 .bannerdobanner {
    margin: 0vh;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.767);
    background-size: cover;
    background-position: 0px;
    overflow-y: auto;
    align-items: center;
}

.mensagem {
    background-color:black;
    margin: 32vh 0vh 0vh 83vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7vh;
    color: white;
    align-items: center;
    text-align: left;
}

.banner2 {
    margin: 0;
    height: 86vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

/*.div_imagen1 {
    width: 28vw;
    margin: 0;
    display: flex;
}*/

.subaru {
    height: 86vh;
    width: 28vw;
}

.div_titulomeio {
    margin-top: 18px;
    width: 390px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
}
    

.charger {
    height: 86vh;
    width: 26vw;
}

/*.div_imagen2 {
    margin: 0;
    display: flex;
}*/

/*.charger {
    margin: -603px -278px 16px 967px;
    height: 85vh;
    width: 28vw;
}*/

.banner3 {
    margin: 0vh;
    background-color: rgb(230, 230, 230);
    height: 80vh;
}

.container3 {
    width: 50%;
    margin: 0vh 0vh 0vh 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.milharal {
    position: absolute;
    height: 50vh;
    margin: 20vh 0vh 0vh 8vh;
    border-radius: 40vh;
}

.titulo3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    color: black;
}

.texto3 {
    position: relative;
    margin-top: 11vh;
    left: 101vh;
    width: 95vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.futher {
    margin: 0vh;
    background-color: rgb(0, 0, 0);
    height: 80vh;
}

.logo2 {
    position: absolute;
    width: 65px;
    top: 1545px;
    bottom: 0px;
    left: 64px;
}

.titulofuther {
    margin-left: 72px;
    margin-top: 94px;
    color: #ffffff;
}

<<<<<<< HEAD
/*<h3 class="textomeio">A TRE veio para todos aqueles apaixonados por carros, motores e velocidade. Um jamais visto antes, como uma única intenção: Correr!</h3>*/
=======
.titulofuther1_1 {
    margin-left: -242px;
    margin-top: 201px;
    color: rgb(184, 184, 184);
    font-size: 20px;
}


.navbar2{
    width: 177px;
    margin: 255px 0px 0px -155px;
    list-style: circle;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 17px;
}



>>>>>>> 7324b9f0c2587b37634388114c366e7bb74b34d8



