body {
    margin: 0px;
    
}

.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 65px;
}

.titulo_cadastro {
    color: #ffffff;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.header .container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sair {
    margin: 0px -500px 0px 474px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

a:hover.sair {
    color: red;
    }

/*Começo do banner*/

.banner {
    margin: 0px;
    height: 600px;
    width: 100%;
    display: flex;
    background-image: url("skyline.jpg");
    background-size: cover;
    background-position: 0px;
}

.banner1_2 {
    margin: 0px;
    width: 100%;
    height: 600px;
    display: flex;
    background-color:rgb(0 0 0 / 56%);
    background-size: cover;
}

.banner .card {
    background-color: rgba(0, 0, 0, 0.733);
    height: 480px;
    width: 450px;
    margin: 39px 439px 0px 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.novamente {
    color: white;
    margin: -14px 0px 25px 0px;
}

.banner .card1 {
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

input {
    border-radius: 6px;
    background-color: white;
    height: 20px;
    width: 200px;
}

button {
    margin: 36px 0px -8px 12px;
    height: 30px;
    width: 100px;
    background-color: red;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}